/* exo-l.css */

/* Mengubah warna background body */
body {
    background-color: #123456;
}

/* Mengubah warna heading */
h1 {
    color: black;
}

/* Mengubah warna paragraf */
p {
    color: black;
    margin-bottom: 10px; /* Added margin-bottom for spacing */
}

/* Mengubah warna daftar */
ul {
    color: black;
}

/* Mengubah ukuran dan posisi tabel */
table {
    width: 100%;
    margin: 20px auto; /* Adjusted margin for spacing *
}

/* Mengubah warna link dan menghilangkan text-underline-offset: ; */
a {
    color: #FFB6C1;
    text-decoration: none;
}

/* Mengubah gaya font pada body */
body {
    font-family: 'Arial', sans-serif;
}

}
/* Mengatur padding dan margin pada gambar */
img {
    margin right: 10px;
    padding: 10px;
    margin: 10px 0;
}
